<div class="card">
	<div class="card-header text-white bg-info">
		S'enregistrer
	</div>
	<div class="card-body">
		<form [formGroup]="registerForm" (ngSubmit)="saveUser()" novalidate>
			<div class="row">
				<div class="col-md-6 mb-3">
					<label>Nom</label>
					<input type="text" class="form-control" placeholder="Nom" formControlName="lastName"
						[ngClass]="{'is-invalid': formErrors['lastName'] }">

					<span class="invalid-feedback">
						{{formErrors['lastName']}}
					</span>
				</div>

				<div class="col-md-6 mb-3">
					<label>Prenom</label>
					<input type="text" class="form-control" placeholder="Prenom" formControlName="firstName"
						[ngClass]="{'is-invalid': formErrors['firstName'] }">

					<span class="invalid-feedback">
						{{formErrors['firstName']}}
					</span>
				</div>
			</div>
			<div class="row" formGroupName="emailGroup">
				<div class="col-md-6 mb-3">
					<label>E-Mail</label>
					<input type="email" class="form-control" placeholder="E-Mail" formControlName="email"
						[ngClass]="{'is-invalid': formErrors['email']}">
					<span class="invalid-feedback">
						{{ formErrors['email'] }}
					</span>
				 
				</div>
				<div class="col-md-6 mb-3">
					<label for="confirmEmailId">Confirmer le mail</label>
					<input type="email" id="confirEmailId" class="form-control" placeholder="Confirmer l'email"
						formControlName="confirmEmail"
						[ngClass]="{'is-invalid': formErrors['confirmEmail'] || registerForm.get('emailGroup')?.errors?.['match']  }"	
						>

					<span class="invalid-feedback">
						{{formErrors['confirmEmail']}}
					</span>
					<span 
					class="invalid-feedback"
					*ngIf=" registerForm.get('emailGroup.confirmEmail')?.valid && registerForm.get('emailGroup')?.errors?.['match']"
					>
					L'email ne correspond pas.
					</span >
					 
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="phoneId">Telephone</label>
					<input type="tel" class="form-control" formControlName="phone" placeholder="Numero de tel"
						[ngClass]="{'is-invalid': formErrors['phone'] }">
					<span class="invalid-feedback">
						{{ formErrors['phone'] }}
					</span>
				</div>

				<div class="col-md-6 mb-3">
					<label for="">Recevoir les notifications</label>
					<div class="col-md-8 mb-3">
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input type="radio" class="form-check-input" value="email"
									formControlName="notification">
								E-mail
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input type="radio" class="form-check-input" value="text"
									formControlName="notification">
								Tel
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-6">
					<label for="ratingId">Note</label>
					<input type="number" id="ratingId" class="form-control" formControlName="rating"
						[ngClass]="{'is-invalid' : formErrors['rating'] }">
					<span class="invalid-feedback">
						{{formErrors['rating']}}
					</span>
				</div>
				<div class="col-md-6">
					<div class="form-check mt-4">
						<label for="sendCatalogId" class="form-check-label">
							<input type="checkbox" class="form-check-input" formControlName="sendCatalog">
							Oui, je souhaite recevoir la publicité.
						</label>
					</div>
				</div>
			</div>

			<div *ngIf="registerForm.get('sendCatalog')?.value">
				<div formArrayName ="addresses" *ngFor="let address of addressList.controls ; let i = index">

					<div [formGroupName] = "i">
	
						<div class="form-group row mb-2">
							<label for="" class="col-md-2 col-form-label pt-0">
								Type
							</label>
							<div class="col-md-8">
								<div class="form-check form-check-inline">
									<label for="" class="form-check-label">
										<input type="radio" value="home" formControlName="addressType" class="form-check-input">
										Domicile
									</label>
								</div>
								<div class="form-check form-check-inline">
									<label for="" class="form-check-label">
										<input type="radio" value="work" formControlName="addressType" class="form-check-input">
										Lieu de travail
									</label>
								</div>
								<div class="form-check form-check-inline">
									<label for="" class="form-check-label">
										<input type="radio" value="other" formControlName="addressType" class="form-check-input">
										Autre
									</label>
								</div>
							</div>
						</div>
		
						<div class="row mb-3">
							<div class="col-md-12">
								<label attr.for = "{{'street1Id' + i}}">Adresse 1:</label>
								<input type="text" id="{{'street1Id' + i}}" formControlName="street1" class="form-control">
							</div>
						</div>
		
						<div class="row mb-3">
							<div class="col-md-12">
								<label attr.for = "{{'street2Id' + i}}">Adresse 2:</label>
								<input type="text" id="{{'street2Id' + i}}" formControlName="street2" class="form-control">
							</div>
						</div>
		
						<div class="row">
							<div class="col-md-6 mb-3">
								<label attr.for = "{{'cityId' +i}}">Ville</label>
								<input type="text" id="{{'cityId' +i}}" formControlName="city" class="form-control">
							</div>
							<div class="col-md-3 mb-3">
								<label attr.for = "{{'stateId' +i}}">Departement</label>
								<select type="text" id="{{'stateId' +i}}" formControlName="state" class="form-control">
									<option value="">Selectionner un departement</option>
									<option value="A">A</option>
									<option value="B">B</option>
									<option value="C">C</option>
									<option value="D">D</option>
								</select>
							</div>
							<div class="col-md-3">
								<label attr.for="{{'zipId' +i}}">Code Postal</label>
								<input type="number" id="{{'zipId' +i}}" formControlName="zip" class="form-control">
							</div>
						</div>
	
					</div>

				</div>

				<div class="form-group row mb-2">
					<div class="col-md-4">
						<button class="btn btn-outline-info" type="button"
						(click)="addAddress()"
						>
							Ajouter une addresse
						</button>
					</div>
				</div>
			</div>




			<div class="text-right">
				<button type="button" class="btn btn-outline-info me-2" (click)="fillRegisterForm()">Remplir les champs
					par defaut</button>
				<button type="submit" class="btn btn-info" [disabled]="registerForm.invalid">
					Sauvegarder
				</button>
			</div>
		</form>
	</div>
</div>
